5. Домашнее задание по теме
Pandas – продвинутый

Формулировка задания:
Необходимо загрузить и обработать предложенный датасет (Титаник), провести аналитику
данных с помощью фреймворка Python Pandas.
Планируемый результат:
1. Датасет загружен в Colab
2. В датасете отсутствуют пустые ячейки
3. Представлена простая аналитика по датасету
Описания плана работы:
1. Создать новый ноутбук в Colab
2. Сохранить датасет в Google диске и загрузить в ноутбук Colab
https://www.kaggle.com/datasets/yasserh/titanic-dataset/code
*Загрузить датасет по ссылке из интернета (репозитория Kaggle)
3. Перечень и описание столбцов:
Survived выжил (1-да, 0- нет)
Pclass Класс круиза
Name ФИО
Sex Пол
Age Возраст
SibSp число братьев, сестер или супругов на борту у
человека
Parch количество родителей или детей, с которыми
путешествовал каждый пассажир
Ticket Номер билета
Fare Цена билета
Cabin Номер каюты
Embarked Порт посадки
4. Определить количество пустых ячеек
5. *Заполнить пустые ячейки используя любую логику замещения данных
6. Если пункт 5 не выполнен, то удалить строки имеющие пустые ячейки.
7. По каждому признаку произвести аналитику:
1. Количество уникальных значений
2. Минимальное и максимальное значение
8.*С помощью аналитики определить влияние всех признаков на признак Survived(
выживание).
Пример: Parch и SibSP отрицательно влияли на выживание при крушении , так как чем
больше эти параметры тем ниже процент выживания (одиночке выжить проще).
Результатом домашнего задания будет Таблица в Colab с комментариями в качестве
ответов на пункты ДЗ.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv('titanik.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

###4.Определить количество пустых ячеек
Находим количество ячеек со значением "Неопределено" через функцию **isnull()**. После этого функцией **sum()** можем определить сколько пустых ячеек в каждом столбце. Повторное применение функции **sum()** просуммирует результаты по всем столбцам.

In [13]:
data.isnull().sum().sum()

866

###5. *Заполнить пустые ячейкии спользуя любую логику замещения данных

Через функцию **fillna** заполняем все неопределенные ячейки значением *0*. Для проверки коректности работы снова проверим количество пустых ячеек. Если все сделано верно, то пустых ячеек должно остаться 0.

In [14]:
data = data.fillna(0)
data.isnull().sum().sum()

0

###7.По каждому признаку произвести аналитику:
####* Количество уникальных значений
для выполнения этого задания есть уже готовые функции **nunique()**. Результат выводим на экран.

In [16]:
print(data.nunique())

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             89
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          148
Embarked         4
dtype: int64

###8.*С помощью аналитики определить влияние всех признаков на признак Survived(выживание).

Столбцы **PassengerId** (ИД пасажира) **Name** (ФИО) **Ticket** (Номер билета) **Embarked** (порт посадки) логически не должны иметь влияния на выживание при крушении либо результаты и зависимости будут случайными.

####Для начала проверим влияние пола пасажира на его выживание:

In [18]:
print("Процент выживших мужчин", data[(data.Survived == 1) & (data.Sex == 'male')]['PassengerId'].count()/data[(data.Sex == 'male')]['PassengerId'].count() * 100)
print("Процент выживших женщин",data[(data.Survived == 1) & (data.Sex == 'female')]['PassengerId'].count()/data[(data.Sex == 'female')]['PassengerId'].count() * 100)

Процент выживших мужчин 18.890814558058924
Процент выживших женщин 74.20382165605095

Результат оказался вполне предсказуемым. Женщин выжило около **74%**, в то время как мужчин выжило чуть меньше **19%**

In [19]:
data[['Pclass','Survived']].groupby(by=['Pclass','Survived']).agg({'Pclass':'count'}).head()

                 Pclass
Pclass Survived
1      0             80
       1            136
2      0             97
       1             87
3      0            372

In [20]:
print(f"Процент выживших пассажиров 1го класса - {data[(data.Pclass == 1) & (data.Survived == 1)]['PassengerId'].count()/data[(data.Pclass == 1)]['PassengerId'].count()*100}")
print(f"Процент выживших пассажиров 2го класса - {data[(data.Pclass == 2) & (data.Survived == 1)]['PassengerId'].count()/data[(data.Pclass == 2)]['PassengerId'].count()*100}")
print(f"Процент выживших пассажиров 3го класса - {data[(data.Pclass == 3) & (data.Survived == 1)]['PassengerId'].count()/data[(data.Pclass == 3)]['PassengerId'].count()*100}")

Процент выживших пассажиров 1го класса - 62.96296296296296
Процент выживших пассажиров 2го класса - 47.28260869565217
Процент выживших пассажиров 3го класса - 24.236252545824847

Результат анализа шансов выжить в зависимости от класса пассажира так же оказался вполне ожидаемым:
* 1й класс 62%
* 2й класс 47%
* 3й класс 24%

Ради интереса можем проверить шансы выжить женщине из первого класса.

In [21]:
print(f"Процент выживших пассажиров женщин 1го класса - {data[(data.Pclass == 1) & (data.Survived == 1) & (data.Sex == 'female')]['PassengerId'].count()/data[(data.Pclass == 1) & (data.Sex == 'female')]['PassengerId'].count()*100}")

Процент выживших пассажиров женщин 1го класса - 96.80851063829788

В данном случае результат более чем предсказуем. Женщины из первого класса выжили почти все.